<!--
<section class='wrap'>
	<h1>Explore the Vale - Collaborate with walkers and hikers on great walks &amp; hikes in The Vale of Glamorgan</h1>
</section>
-->

	<nav class="filterRouteNav wrap navbar navbar-toggleable-md navbar-light mb-4">

	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <a class='filterRouteNav-title navbar-brand' href="#">Find A Route</a>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="filterRouteNav-links navbar-nav mr-auto">

			  <li class="nav-item dropdown">
	    		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Date</a>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="#">Newest</a>
			      <a class="dropdown-item" href="#">Oldest</a>
			    </div>
			  </li>
			  <li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Difficulty</a>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="#">Easy</a>
			      <a class="dropdown-item" href="#">Moderate</a>
			      <a class="dropdown-item" href="#">Difficult</a>
			    </div>
			  </li>
				<li class="nav-item dropdown">
	    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Terrain</a>
			    <div class="dropdown-menu">
			    	<% Place.terrain_options.each do | t |%>
			    		<a class="dropdown-item" href="#"> <%= t %> </a>
			    	<% end %>
			    </div>
			  </li>
				<li class="nav-item dropdown">
	    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Time</a>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="#">Shortest</a>
			      <a class="dropdown-item" href="#">Longest</a>
			    </div>
			  </li>
				<li class="nav-item dropdown">
	    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Distance</a>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="#">Shortest</a>
			      <a class="dropdown-item" href="#">Longest</a>
			    </div>
			  </li>
	    </ul>

	    <form class="d-flex my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="text" placeholder="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>

	  </div>
	</nav>


<section class='wrap d-flex flex-wrap justify-content-between'>
	<% @places.each do | place | %>
	<div class='routeCard'>
		<div class="card">
	  	<!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
		  <div class="card-block">
		    <h4 class="card-title"><%= link_to place.title, place_path( place ) %></h4>
		    <ul class='routeCard-info'>
		    	<li>Difficulty: <span><%= place.difficulty %></span></li>
		    	<li class='d-flex flex'> 
		    		Terrain: 
		    		<ul class='routeCard-terrain-list flex-wrap'>
		    			<% place.terrain.each do | t | %>
		    				<li><%= t %></li>
		    			<% end %>
		    		</ul>
		    	</li>
		    	<li>Time: <span><%= place.time %> </span></li>
		    	<li>Distance: <span><%= place.distance %></span> miles</li>
		    	<li>
		    		Description:
		    		<p class="card-text"><%= truncate( place.description, :length => 150, :seperator => ' ') %></p>
		    	</li>
		    	<li>User <span><%= place.user.email %></span> miles</li>
		    </ul>
		    <%= link_to 'View Route', place_path( place ), class: 'btn btn-brand' %>
		  </div>
		</div>
	</div>
	<% end %>
</section>

<%= paginate @places %>