<!--
<section class='wrap'>
	<h1>Explore the Vale - Collaborate with walkers and hikers on great walks &amp; hikes in The Vale of Glamorgan</h1>
</section>
-->
<!--
	<nav class="filterRouteNav wrap navbar navbar-toggleable-md navbar-light mb-4">

	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <a class='filterRouteNav-title navbar-brand' href="#">Find A Route</a>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="filterRouteNav-links navbar-nav mr-auto">

			  <li class="nav-item dropdown">
	    		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Date</a>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="#">Newest</a>
			      <a class="dropdown-item" href="#">Oldest</a>
			    </div>
			  </li>
			  <li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Difficulty</a>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="#">Easy</a>
			      <a class="dropdown-item" href="#">Moderate</a>
			      <a class="dropdown-item" href="#">Difficult</a>
			    </div>
			  </li>
				<li class="nav-item dropdown">
	    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Terrain</a>
			    <div class="dropdown-menu">

			    </div>
			  </li>
				<li class="nav-item dropdown">
	    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Time</a>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="#">Shortest</a>
			      <a class="dropdown-item" href="#">Longest</a>
			    </div>
			  </li>
				<li class="nav-item dropdown">
	    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Distance</a>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="#">Shortest</a>
			      <a class="dropdown-item" href="#">Longest</a>
			    </div>
			  </li>
	    </ul>

	    <form class="d-flex my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="text" placeholder="Search">
	      <button class="btn btn-clear my-2 my-sm-0" type="submit">Search</button>
	    </form>

	  </div>
	</nav>

-->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'slide-1.jpg', class: 'd-block img-fluid' %>
    </div>
    <div class="carousel-caption d-none d-md-block">
      <h3>Looking for hotdogs?</h3>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slide-2.jpg', class: 'd-block img-fluid' %>
    </div>
    <div class="carousel-caption d-none d-md-block">
      <h3>Looking for hotdogs?</h3>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slide-3.jpg', class: 'd-block img-fluid' %>
    </div>
    <div class="carousel-caption d-none d-md-block">
      <h3>Looking for hotdogs?</h3>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section class='wrap d-flex flex-wrap justify-content-between'>
	<% @place.each do | place | %>
	<div class='routeCard'>
		<div class="card">
	  	<!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
		  <div class="card-block">
		    <h4 class="card-title mb-4"><%= link_to place.title, place_path(place) %></h4>
		    <ul class='routeCard-info'>
		    	<li class='mb-4'>
		    		<% if place.photos.present? %>
			    		<%= link_to place_path(place) do %>
								<%= image_tag place.photos.first.avatar %>
							<% end %>
						<% end %>
					</li>
		    	<li class='pb-2'><strong>Difficulty: </strong><span><%= place.difficulty %></span></li>
		    	<li class='d-flex flex pb-2'> 
		    		<strong>Terrain: </strong>
		    		<ul class='routeCard-terrain-list flex-wrap'>
		    			<% place.terrain.each do | t | %>
		    				<li><%= t %></li>
		    			<% end %>
		    		</ul>
		    	</li>
		    	<li class='pb-2'><strong>Time:</strong> <span><%= place.time/60 %></span> hour, <span><%= place.time%60 %></span> minutes</li>
		    	<li class='pb-2'><strong>Distance: </strong><span><%= place.distance %></span> miles</li>
		    	<li class='pb-2'>
		    		<strong>Description: </strong>
		    		<span class="card-text"><%= truncate( place.description, :length => 150, :seperator => ' ') %></span>
		    	</li>
		    	<li class='mb-4'>
						<strong>Created By:</strong>
						<%= "#{ place.user.first_name } #{ place.user.last_name }" %> 
					</li>
					<li>
						<% if place.comments.present? %>
							<div class='mb-5'>
								<blockquote>
									<% if place.comments.last.humanized_rating.present? %>
										<h5><%= place.comments.last.humanized_rating %></h5>
									<% end %>
									<%= place.comments.last.message%>
								</blockquote>
							</div>
						<% end %>
					</li>
		    </ul>
		    <%= link_to 'View Route', place_path( place ), class: 'btn btn-brand' %>
		  </div>
		</div>
	</div>
	<% end %>
</section>

<%= paginate @place %>