<div class='routePage-single d-flex justify-content-center'>
	<div class='col-10 col-md-8 col-xl-6'>
		<h1 class='mb-4'><%= @place.title %></h1>	
		<ul>
			<li class='mb-4'>
				<h5>Difficulty</h5>
				<%= @place.difficulty%>
			</li>
			<li class='mb-4'>
				<h5>Terrain</h5>
				<ul>
				<% @place.terrain.each do | t | %>
					<li><%= t %></li>
				<% end %>
				</ul>
			</li>
			<li class='mb-4'>
				<h5>Time</h5>
				<%= @place.time %>
			</li>
			<li class='mb-4'>
				<h5>Distance</h5>
				<%= @place.distance %>
			</li>
			<li class='mb-4'>
				<h5>Description</h5>
				<%= @place.description%>
			</li>
			<li class='mb-4'>
				<h5>Directions</h5>
				<%= @place.directions%>
			</li>
			<li class='mb-4'>
				<h5>Created by</h5>
				<%= "#{ @place.user.first_name } #{ @place.user.last_name }" %> 
			</li>
		</ul>

<% if @place.latitude.present? && @place.longitude.present? %>
  <div class='mb-4' id="map"></div>

  <script>
	  function initMap() {
	    var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

	    var map = new google.maps.Map(document.getElementById('map'), {
	      zoom: 13,
	      center: myLatLng
	    });

	    var marker = new google.maps.Marker({
	      position: myLatLng,
	      map: map,
	      title: 'Hello World!'
	    });
	  }
	</script>

	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDjClzKrEVx38Z8nlcoJTJ5uw82FLgl5g&callback=initMap">
	</script>
<% end %>

		<div class='mb-5'>
			<% if current_user && current_user == @place.user %>
				<%= link_to 'Edit route', edit_place_path(@place), class: 'btn btn-primary' %>
				<%= link_to "Delete Route", place_path(@place), method: :delete, data: { confirm: 'Are you sure you want to delete this route?'}, class: 'btn btn-danger' %>
			<% end %>
		</div>
	</div>
</div>
