<!DOCTYPE html>
<html>
  <head>
    <title>Explore the Vale</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<header class="primaryNav wrap d-flex justify-content-between align-items-center">

		  <%= link_to 'Explore the Vale', root_path, :class => 'primaryNav-logo h4' %>
	    <nav class="primaryNav-links">

        <div class='wrap d-flex justify-content-end'>
          <% if user_signed_in? %>
            <small class='mr-2'>Signed in as: </small>
            <h6><%= " #{ current_user.first_name } #{ current_user.last_name } "%></h6>
          <% end %>
        </div>

        <%= link_to new_place_path, :class => 'mr-sm-2 btn btn-clear' do %>
          <i class="fa fa-plus-circle"></i>
          Add Place
        <% end %>

        <% if user_signed_in? %>
          <%= link_to 'Dashboard', user_path(current_user), :class => "mr-sm-2 btn btn-brand" %>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete, :class => "mr-sm-2 btn btn-clear" %>
        <% else %>
          <%= link_to 'Log In', new_user_session_path, :class => "mr-sm-2 btn btn-clear" %>
          <%= link_to 'Sign Up', new_user_registration_path, :class => "btn btn-brand" %>
        <% end %>
	    </nav>

		</header>

    <main class='mb-5'>
      
      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>

    </main>
  </body>
</html>
